.wrapper{
  margin: 25px 45px;
}
h5{
  text-align: center;
  font: normal normal bold 15px/37px Toyota Type;
  letter-spacing: 0px;
  color: #58595B;
  opacity: 1;
}
p{
  font-family: "Segoe UI";
  // font: normal normal normal 13px/27px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.dropdown {
  position: relative;
  // height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}


.dropdown-select {
  width: 40%;
  // margin: 0 auto;
  padding: 18px 20px 18px 20px;
  // margin-top:100px;
  // margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  cursor: pointer;
  color: #58595b;
  height: 25px;
  font: normal normal normal 15px/21px Toyota Type;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}

.dropdown-list {
  width: 40%;
  margin: 0 auto;
  position: absolute;
  overflow-y: auto;
  height: 115px;
  top:59%;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #d5d5d5;
  opacity: 1;
  background: #ffffff 0% 0% no-repeat padding-box;
  z-index: 1;
  padding: 10px 0;
  cursor: pointer;
}
.icon {
  font-size: 18px;
}
.dropdown-list__item {
  /* font-size: 10px; */
  padding: 5px;
  border-bottom: 1px solid #dcdcdc;
  font: normal normal normal 13px/21px Toyota Type;
  color: #707070;
  opacity: 1;
  cursor: pointer;
}

.dropdown-list__item:hover {
  background: #d3d3d3;
  color: #ffffff;
}
div.dropdown-list__item:last-child {
  border-bottom: none;
}


.left-btn { 
  float: left;
  margin-top: 20px;
}

.left-btn button{
  text-align: left;
  font: normal normal normal 14px/28px Toyota Type;
  letter-spacing: 0px;
  color: #000000;
  border: none;
  background: none;
}

.right-btn{
  float: right;
  margin-top: 20px;
}

.right-btn .disableBtn{
  padding: 5px 35px;
  background: #9FA0A0 0% 0% no-repeat padding-box;
  opacity: 0.36;
  border: none;
  color: #000000;
}

.right-btn .enableBtn{
  padding: 5px 35px;
  background: #D7181E 0% 0% no-repeat padding-box;
  border: none;
  color: #fff;
}

.input-icon-wrap {
  // border: 1px solid #ddd;   
  font-size: 1rem;
  cursor: pointer;
  color: #58595b;
  // height: 25px;
  font: normal normal normal 15px/21px Toyota Type;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029; 
  display: flex;
  flex-direction: row;
}


.input-with-icon {
  border: none;
  outline: none;
  flex: 1;
}

.input-icon, .input-with-icon {
  padding: 10px;
}

.first{
  width: 100%;
  background: #FFF4DA 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  padding: 10px 10px;
  border: none;
  display: flex;
  flex-direction: row;
}

.file-name{
  flex: 30%;
  text-align: left;
  font: normal normal normal 16px/37px Toyota Type;
  letter-spacing: 0px;
  color: #58595B;
  opacity: 1;
}

.browse{
  flex: 60%;
  justify-content: center;
  align-items: center;
}

.alert-icon{
  flex: 10%;
  font: normal normal normal 16px/37px Toyota Type;
  letter-spacing: 0px;
  color: #58595B;
  opacity: 1;
}

.fa-circle-check{
  color: #068022;
  font-size: 18px;
}

.fa-clock{
  color: #FEBA12;
  font-size: 18px;
}

.file {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #58595b;
  // padding: 0;
  // margin-top: 20px;
  position: relative;
}

.file span{
 margin-right: 20px;
 font: normal normal normal 14px/37px Toyota Type;
 letter-spacing: 0px;
 color: #58595B;
 opacity: 1;
//  width:150px;
} 

.file span:first-child{
  margin-right: 20px;
  font: normal normal normal 14px/37px Toyota Type;
  letter-spacing: 0px;
  color: #58595B;
  opacity: 1;
  width:150px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
 } 

.file button {
  background: #d7181e 0% 0% no-repeat padding-box;
  border: none;
  color: #ffffff;
  text-align: center;
  padding: 0 30px;
}

.file button input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  // display: block;
}

.card{
  margin: 20px 0;
}

.second{
  width: 100%;
  background: #CFE8D5 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  padding: 10px 10px;
  border: none;
  display: flex;
  flex-direction: row;
}

.table {
  text-align: center;
  font: normal normal normal 14px Toyota Type;
  color: #1D1D1D;
  border: 1px solid lavender;
}

.table td {
  color: #1D1D1D;
  position: relative;
  border: 1px solid lavender;
  border-style: solid;
}

.center-content{
  color: #068022;
}

.center-content .fa-check{
  margin-right: 5px;
}

.deny{
  color: #D7181E;
}

.deny .fa-xmark{
  margin-right: 5px;
}


/* Stepper CSS */

.stepper-card {
  // width: 550px;
  min-height: 0;
  margin: 10px auto;
}

.stepper-card__supporting-text {
  width: 100%;
  padding: 0;
}

.stepper-horizontal-alternative .stepper-step {
  width: 25%;
}


/* Begin actual stepper css styles */

.stepper-horizontal-alternative {
  display: table;
  width: 100%;
  margin: 0 auto;
}

.stepper-horizontal-alternative .stepper-step {
  display: table-cell;
  position: relative;
  padding: 24px;
}

.stepper-horizontal-alternative .stepper-step:active {
  border-radius: 15% / 75%;
}

.stepper-horizontal-alternative .stepper-step:first-child:active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.stepper-horizontal-alternative .stepper-step:last-child:active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.stepper-horizontal-alternative .stepper-step:first-child .stepper-bar-left,
.stepper-horizontal-alternative .stepper-step:last-child .stepper-bar-right {
  display: none;
}

.stepper-horizontal-alternative .stepper-step .stepper-circle {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background-color: #9E9E9E;
  border-radius: 50%;
  text-align: center;
  line-height: 2em;
  font-size: 12px;
  color: white;
}

.stepper-horizontal-alternative .stepper-step.active-step .stepper-circle {
  background-color: #068022
}

.stepper-horizontal-alternative .stepper-step.step-done .stepper-circle:before {
  content: "\2714";
}

.stepper-horizontal-alternative .stepper-step.step-done .stepper-circle *,
.stepper-horizontal-alternative .stepper-step.editable-step .stepper-circle * {
  display: none;
}

.stepper-horizontal-alternative .stepper-step.editable-step .stepper-circle {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.stepper-horizontal-alternative .stepper-step.editable-step .stepper-circle:before {
  content: "\270E";
}

.stepper-horizontal-alternative .stepper-step .stepper-title {
  margin-top: 16px;
  // font-size: 14px;
  // font-weight: normal;
  font: normal normal normal 14px/27px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.stepper-horizontal-alternative .stepper-step .stepper-title{
  text-align: center;
  font: normal normal normal 14px/27px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
.stepper-horizontal-alternative .stepper-step .stepper-optional {
  font-size: 12px;
}

.stepper-horizontal-alternative .stepper-step.active-step .stepper-optional {
  color: rgba(0, 0, 0, .54);
}

.stepper-horizontal-alternative .stepper-step .stepper-bar-left,
.stepper-horizontal-alternative .stepper-step .stepper-bar-right {
  position: absolute;
  top: 80px;
  height: 1px;
  border-top: 1px solid #BDBDBD;
}

.stepper-horizontal-alternative .stepper-step.active-step  .stepper-bar-left,
.stepper-horizontal-alternative .stepper-step.active-step .stepper-bar-right{
  border-top: 1px solid#068022;
}

.stepper-horizontal-alternative .stepper-step .stepper-bar-right {
  right: 0;
  left: 50%;
  margin-left: 20px;
}

.stepper-horizontal-alternative .stepper-step .stepper-bar-left {
  left: 0;
  right: 50%;
  margin-right: 20px;
}

