<div class="icon" align="end">
    <i class="fa-solid fa-circle-xmark" mat-dialog-close></i>
</div>
<h5>Upload VSI / Set Matrix</h5>
<!-- Stepper -->

<div class="stepper-card">
    <div class="stepper-card__supporting-text">
  
      <div class="stepper-horizontal-alternative">
        <div class="stepper-step step-done" [ngClass]="stepper.cfc =='' ? '':'active-step'">
            <div class="stepper-title">Select Car Family Code</div>
          <div class="stepper-circle"><span>1</span></div>
          <div class="stepper-bar-left"></div>
          <div class="stepper-bar-right"></div>
        </div>
        <div class="stepper-step step-done" [ngClass]="stepper.version ==''? '':'active-step'">
            <div class="stepper-title">Enter Version</div>
          <div class="stepper-circle"><span>2</span></div>
          <div class="stepper-bar-left"></div>
          <div class="stepper-bar-right"></div>
        </div>
        <div class="stepper-step step-done" [ngClass]="stepper.document =='' ? '':'active-step'">
            <div class="stepper-title">Select Document</div>
          <div class="stepper-circle"><span>3</span></div>
          <div class="stepper-bar-left"></div>
          <div class="stepper-bar-right"></div>
        </div>
        <div class="stepper-step step-done">
          <div class="stepper-title">Validate & Upload</div>
          <div class="stepper-circle"><span>4</span></div>
          <div class="stepper-bar-left"></div>
          <div class="stepper-bar-right"></div>
        </div>
      </div>
  
    </div>
  
  </div>

<div class="wrapper">
<!-- CFC Dropdown -->
<div *ngIf="count == 0">
    <p>To start visualizing, comparing or configuring you need to upload the VSI and Set Matrix. Select the car family code
        you want to upload the files to and then proceed.</p>
    <div class="dropdown">
        <div class="dropdown-select d-flex justify-content-space-between" (click)="change()">
            {{selectedCfc}}
            <i class="fa fa-caret-down icon"></i>
        </div>
        <div class="dropdown-list" *ngIf="dropdown">
            <div class="dropdown-list__item" *ngFor="let value of cfcList" (click)="select(value)">{{value}}</div>
        </div>
    </div> 
    <div class="left-btn">
        <button type="button" (click)="back()" *ngIf="count >=1">Back</button>
    </div>
    <div class="right-btn" >
        <button type="button" (click)="next()" class="enableBtn"
        *ngIf="selectedInput != ''">Next</button>
        <button type="button" class="disableBtn" 
        *ngIf="selectedInput == ''">Next</button>
    </div>
</div>


<!-- Version Input -->
<div *ngIf="count == 1">
<p>Please enter the version you want to upload you VSI and Set matrix to</p>
<form [formGroup]="versionForm">
    <div class="dropdown">
        <div class="input-icon-wrap">
            <input type="text" class="input-with-icon" placeholder="Version Input..." formControlName="versionControl" #itemName>
            <span class="input-icon">
                <i class="fa fa-caret-down"></i>
            </span>
          </div>  	
    </div>
</form>
<div class="left-btn">
    <button type="button" (click)="back()" *ngIf="count >=1">Back</button>
</div>
<div class="right-btn" >
    <button type="button" (click)="cfcBtn()" class="enableBtn"
    *ngIf="itemName.value != ''">Next</button>
    <button type="button" class="disableBtn" 
    *ngIf="itemName.value == ''">Next</button>
</div>
 
</div>


<!-- Browse DOcuments -->
<div *ngIf="count == 2">
<p>Please select the document you want to upload</p>

    <div class="card" [ngClass]="vsiFile ? 'second':'first'">
        <div class="file-name">VSI</div>
        <div class="browse">
            <div class="file">
                <span className="fileName" >{{vsiFile?vsiFile.name:'Drag and Drop File'}}</span>
                <span>or</span>
                <span><button type="button" for="file" align="right" >Browse
                   <input type="file" multiple  #vsiControl (change)="readVsiFile($event)"/>
                </button></span>
            </div>
        </div>
        <div class="alert-icon">
            <i  [ngClass]="vsiFile ? 'fa-solid fa-circle-check':'fa-solid fa-clock'"></i>
        </div>
    </div>
    
    <div class="card" [ngClass]="metrixFile !='' ? 'second':'first'">
        <div class="file-name">Set Matrix</div>
        <div class="browse">
            <div class="file">
                <span>{{metrixFile ? metrixFile.name:'Drag and Drop File'}}</span>
                <span>or</span>
                <span><button type="button" for="file" align="right" >Browse
                   <input type="file" multiple  #metrixControl (change)="readSetMatrixFile($event)"/>
                </button></span>
            </div>
        </div>
        <div class="alert-icon">
            <i  [ngClass]="metrixFile ? 'fa-solid fa-circle-check':'fa-solid fa-clock'"></i>
        </div>
    </div>

<div class="left-btn">
    <button type="button" (click)="back()" *ngIf="count >=1">Back</button>
</div>
<div class="right-btn" >
    <button type="button" class="enableBtn"
    *ngIf="vsiFile != '' && metrixFile != ''" (click)="fork()">Next</button>
    <button type="button" class="disableBtn" 
    *ngIf="vsiFile == '' || metrixFile == ''">Next</button>
</div>

</div>


<!-- Approval Status -->
<div *ngIf="count == 3">
<p>If your file was not approved the CFC or VSI Version in the file does not match the manually entered value. You will be rerouted to the CFC entry page to restart your upload</p>
<table class="table">
    <tbody>
        <tr>
            <td></td>
            <td>Car Family Code</td>
            <td>VSI Version</td>
            <td>File Type</td>
        </tr>
        <tr>
            <td>VSI</td>
            <td>
                <div class="center-content">
                    <i class="fa-solid fa-check"></i>Approved
                </div>
            </td>
            <td>
                <div class="center-content">
                    <i class="fa-solid fa-check"></i>Approved
                </div>
            </td>
            <td>
                <div class="center-content">
                    <i class="fa-solid fa-check"></i>Approved
                </div>
            </td>
        </tr>
        <tr>
            <td>Set Matrix</td>
            <td>
                <div class="deny">
                    <i class="fa-solid fa-xmark"></i>Not Approved
                </div>
            </td>
            <td>
                <div class="deny">
                    <i class="fa-solid fa-xmark"></i>Not Approved
                </div>
            </td>
            <td>
                <div class="center-content">
                    <i class="fa-solid fa-check"></i>Approved
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="left-btn">
    <button type="button" (click)="back()" *ngIf="count >=1">Back</button>
</div>
<div class="right-btn" >
    <button type="button" class="enableBtn" (click)="next()">Restart</button>
</div>
</div>
</div> 



  