@import '../../../assets/settings/color-palette';
@import '../../../assets/settings/breakpoints';
@import '../../../assets/settings/mediaquery';
@import '../../../assets/settings/mixins';
@import '../../../assets/settings/buttons';
@import '../../../assets/settings/global';


.compare-results-section{
    margin:50px auto;
    display: flex;
    align-items: stretch;
    width: 90%;
    flex-wrap: wrap;
   
    .item{
        border:1px solid $color-grey;
        width: 93%;
        padding: 20px;
        margin: 1% 1% 5% 1%;
        background: $color-white;
        &:hover{
            box-shadow: 7px 11px 21px -3px rgba(0,0,0,0.31);
            -webkit-box-shadow: 7px 11px 21px -3px rgba(0,0,0,0.31);
            -moz-box-shadow: 7px 11px 21px -3px rgba(0,0,0,0.31);
        }
        .head-title{
            font-size: 25px;
            text-align: center;
            padding: 0 0 15px 0;
            text-transform: uppercase;
            color:$color-secondary;
        }
        .grid{
            font-size: 14px;
            color:$color-secondary;
            width: 90%;
            margin: auto auto 20px auto;
            height: calc(100% - 100px);
            table{
                width: 100%;
                td{
                    padding: 5px;
                    &:first-child{
                        width: 45%;
                    }
                    &:last-child{
                        width: 45%;
                    }
                }
            }
        }
        button{
            margin: auto;
            display: block;
        }
    }
    ::ng-deep{
        .p-carousel .p-carousel-indicators{
            padding: 0.5rem 1rem 1rem 1rem;
        }
        .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button{
            background-color: #636363;
        }
    }
}


.bottom-content{
    margin: 0 auto;
    color: #767676;
    font: normal normal normal 15px/28px Toyota Type;
    margin-top: 30px;
    font-size: 15px;
    text-align: center;
}

.bottom-content i{
    border-radius: 50%;
    border: 1px solid #767676;
    padding: 8px;
    margin-left: 20px;
    margin-right: 20px;
}

swiper{
    height: 400px;
    width: 600px;
}

.carousel-item {
    &.active, &.carousel-item-right, &.carousel-item-next {
      display: flex !important;
      flex-wrap: wrap
    }
  }