@import '../../../../assets/settings/color-palette';
@import '../../../../assets/settings/breakpoints';
@import '../../../../assets/settings/mediaquery';
@import '../../../../assets/settings/buttons';


.sub-nav{
    // background-color: $color-white;
    width: 100%;
    // padding-top: 50px;
    transition: opacity .25s ease-out, height .15s ease;
    @include mq-breakpoint-xxl{
        // padding-top: 70px;
    }
    .navbar{
        padding:0px;
        
        &-nav{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                padding: 0px;
                a{
                    color: $color-black;
                    text-transform: uppercase;
                    display: block;
                    padding: 12px 40px;
                    font-weight: bold;
                    font-size: 12px;
                    text-decoration: none;
                    @include mq-breakpoint-xxl{
                        padding: 17px 30px 15px 30px;
                    }
                   
                    &:hover{
                        text-decoration: none;
                        border-bottom: 5px solid $color-primary;
                    }
                    &.active{
                        border-bottom: 5px solid $color-primary;
                    }
                }
            }
        }
    }
    .top-band{
        background: $color-black;
        min-height: 40px;
        padding: 0 40px;
        display: flex;
        @include mq-breakpoint-xxl{
            height: 50px;
        }
        ul{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                padding: 0px;
                a{
                    color: $color-white;
                    text-transform: uppercase;
                    display: block;
                    padding: 10px 15px;
                    font-weight: 500;
                    font-size: 12px;
                    @include mq-breakpoint-xxl{
                        padding: 10px 15px;
                    }
                    &:hover{
                        text-decoration: none;
                        background: $color-white;
                        color: $color-black;
                        border-bottom: 3px solid $color-primary;
                    }
                    &.active{
                        background: $color-white;
                        color: $color-black;
                        border-bottom: 3px solid $color-primary;
                    }
                }
            }
        }
    }
}
