<div class="top-search-section">
   <div class="items-list">
      <div class="item w-md">
         <div class="label">Car Family Code</div>
         <p-dropdown [options]="cities" placeholder="787W" optionLabel="name" [showClear]="true"></p-dropdown>
      </div>
      <div class="item w-lg">
         <div class="label">Version</div>
         <p-dropdown [options]="cities" placeholder="B0011778 | 2021/10/15" optionLabel="name" [showClear]="true"></p-dropdown>
      </div>
      <div class="item">
         <div class="label">Fuel</div>
         <p-dropdown [options]="cities" placeholder="Hybrid" optionLabel="name" [showClear]="true"></p-dropdown>
      </div>
      <div class="item">
         <div class="label">Semi-Com</div>
         <p-dropdown [options]="cities" placeholder="All" optionLabel="name" [showClear]="true"></p-dropdown>
      </div>
      <div class="item">
         <div class="label">DV Train</div>
         <p-dropdown [options]="cities" placeholder="All" optionLabel="name" [showClear]="true"></p-dropdown>
      </div>
      <div class="item">
         <div class="label">Engine</div>
         <p-dropdown [options]="cities" placeholder="All" optionLabel="name" [showClear]="true"></p-dropdown>
      </div>
      <div class="item">
         <div class="label">Whl Base</div>
         <p-dropdown [options]="cities" placeholder="All" optionLabel="name" [showClear]="true"></p-dropdown>
      </div>
      <div class="item">
         <div class="label">Strg Whl</div>
         <p-dropdown [options]="cities" placeholder="All" optionLabel="name" [showClear]="true"></p-dropdown>
      </div>
      <div class="item">
         <div class="label">Deck</div>
         <p-dropdown [options]="cities" placeholder="All" optionLabel="name" [showClear]="true"></p-dropdown>
      </div>
      <div class="item">
         <div class="label">Body</div>
         <p-dropdown [options]="cities" placeholder="All" optionLabel="name" [showClear]="true"></p-dropdown>
      </div>
      <div class="item">
         <div class="label">T/M</div>
         <p-dropdown [options]="cities" placeholder="All" optionLabel="name" [showClear]="true"></p-dropdown>
      </div>
      <div class="item">
         <div class="label">Grade</div>
         <p-dropdown [options]="cities" placeholder="All" optionLabel="name" [showClear]="true"></p-dropdown>
      </div>
      <div class="item">
         <div class="label">Description</div>
         <p-dropdown [options]="cities" placeholder="All" optionLabel="name" [showClear]="true"></p-dropdown>
      </div>
   </div>
</div>