<div class="nav-unclassified">
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav">
            <li>
                <a href="#" class="active">Overview</a>
            </li>
            <li>
                <a href="#">
                    <div>A</div>
                    <div>Regulation</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>B</div>
                    <div>Option Pkg/Misc</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>D,E</div>
                    <div>Drivetrain/Engine</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>G</div>
                    <div>Chassis</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>J,K</div>
                    <div>Exterior Body</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>L</div>
                    <div>Functional Parts/Lights</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>N,P,R</div>
                    <div>Interior</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>T,U</div>
                    <div>Audio/Safety/Electronics</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="unclassified">Unclassified</div>
                </a>
            </li>
            <li>
                <a href="#" class="search-btn">
                    <div><span class="pi pi-search"></span></div>
                </a>
            </li>
        </ul>
    </nav>
</div>