<div class="select-box">
    <h1>Select the Box</h1>
    <ul>
        <li>
            <div class="box">
                ABC
            </div>
            <div class="dropdown">
                <p-dropdown [options]="cities" placeholder="Select a City" optionLabel="name"
	[showClear]="true"></p-dropdown>
            </div>
        </li>
        <li>
            <div class="box">
                ABC
            </div>
            <div class="dropdown">
                <p-dropdown [options]="cities" placeholder="Select a City" optionLabel="name"
	[showClear]="true"></p-dropdown>
            </div>
        </li>
        <li>
            <div class="box">
                ABC
            </div>
            <div class="dropdown">
                <p-dropdown [options]="cities" placeholder="Select a City" optionLabel="name"
	[showClear]="true"></p-dropdown>
            </div>
        </li>
        <li>
            <div class="box">
                ABC
            </div>
            <div class="dropdown">
                <p-dropdown [options]="cities" placeholder="Select a City" optionLabel="name"
	[showClear]="true"></p-dropdown>
            </div>
        </li>
        <li>
            <div class="box">
                ABC
            </div>
            <div class="dropdown">
                <p-dropdown [options]="cities" placeholder="Select a City" optionLabel="name"
	[showClear]="true"></p-dropdown>
            </div>
        </li><li>
            <div class="box">
                ABC
            </div>
            <div class="dropdown">
                <p-dropdown [options]="cities" placeholder="Select a City" optionLabel="name"
	[showClear]="true"></p-dropdown>
            </div>
        </li>
        <li>
            <div class="box">
                ABC
            </div>
            <div class="dropdown">
                <p-dropdown [options]="cities" placeholder="Select a City" optionLabel="name"
	[showClear]="true"></p-dropdown>
            </div>
        </li>
    </ul>
</div>


