<div class="table-box">
    <p-table [value]="customers" [scrollable]="true" scrollHeight="400px">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:50px"></th>
                <th style="width:80px">Item</th>
                <th style="width:100px">Details</th>
                <th style="min-width:300px">Item Description</th>
                <th style="width:180px">Detail Type</th>
                <th>Detail Description</th>
                <th style="width:300px">Set Condition</th>
                <th style="width:150px">Table</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td style="width:50px"></td>
                <td style="width:80px">{{customer.item}}</td>
                <td style="width:100px">{{customer.detail}}</td>
                <td style="min-width:300px">{{customer.itemdescription}}</td>
                <td style="width:180px"><span class="standard-s">{{customer.detailtype}}</span></td>
                <td>{{customer.detaildescription}}</td>
                <td style="width:300px">{{customer.setcondition}}</td>
                <td style="width:150px">{{customer.table}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>