<div class="table-box">
    <div class="items-list">
        <h4>Select items to add to configure your grade</h4>
        <div class="save-section">
            <button class="save-btn">Save Selection</button>
        </div>
    </div>

    <p-table #datatable  [value]="vehicleConfigiration"  [globalFilterFields]="['sms_item','sms_item_name']" [scrollable]="true" scrollHeight="500px">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #notaryLockup (input)="datatable.filterGlobal(notaryLockup.value, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <!-- <span><h1>Testing</h1></span> -->
        <!-- <input type="text" pInputText size="50" #notaryLockup  (input)="datatable.filterGlobal(notaryLockup.value, 'contains')" placeholder="Global Filter" style="width:auto">        	 -->
        <ng-template pTemplate="header">            
            <tr>
                <th style="width:50px" [pSortableColumn]="'sms_item'" ><p-sortIcon [field]="'sms_item'"></p-sortIcon></th>
                <th style="width:80px">Item</th>
                <th style="width:100px">Details</th>
                <th style="min-width:300px">Item Description 
                    </th>
                <th style="width:160px">Detail Type</th>
                <th>Detail Description</th>
                <th style="width:300px">Set Condition</th>
                <th style="width:150px">Table</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-config>
            <tr>
                <td style="width:50px">
                    <p-checkbox [(ngModel)]="checked" *ngIf="checkObject(config.restrictions)" inputId="binary"></p-checkbox>
                </td>
                <td style="width:80px">{{config.sms_item}}</td>
                <td style="width:100px">{{config.sms_detail}}</td>
                <td style="min-width:300px">{{config.sms_item_name}}</td>
                <td style="width:160px"><span class="standard-s">{{config.type | constant}}</span></td>
                <td>{{config.sms_detail_name}}</td>
                <td style="width:300px" >
                    <p-dropdown *ngIf="checkObject(config.restrictions)" [options]="cities" placeholder="5 Set Conditions" optionLabel="name" [showClear]="true">
                    </p-dropdown>
                </td>
                <td style="width:150px"><a *ngIf="checkObject(config.restrictions)" (click)="open()">0578</a></td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="my-selection">
    <div class="selection">
        <p-button type="button" class="my-selection-btn" (click)="myselection = true">
            <i class="fa-solid fa-angle-down"></i>
            <span class="txt">
                My Selection</span>
        </p-button>
    </div>
</div>
<p-sidebar [(visible)]="myselection" position="right" [baseZIndex]="10000">
    <div class="slide-container">
        <div class="slide-icon">1</div>
        <div class="slide-content">
            <h3>My Selection</h3>
            <div class="fields-section">
                <ul>
                    <li>
                        <label>Car Family Code</label>
                        <label class="lf">7878W</label>
                    </li>
                    <li>
                        <label>Version</label>
                        <label class="lf">B0011778 | 2021/10/15</label>
                    </li>
                    <li>
                        <label>Katashiki</label>
                        <label class="lf">VXKA70L-CRUSZA</label>
                    </li>
                </ul>
            </div>
            <div class="table-grid">
                <p-table [value]="customers" [scrollable]="true" scrollHeight="500px">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:50px"></th>
                            <th style="width:80px">Item</th>
                            <th style="width:100px">Detail</th>
                            <th>Item Description</th>
                            <th style="width:220px">Detail Description</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-customer>
                        <tr>
                            <td style="width:50px"><i class="pi pi-trash"></i></td>
                            <td style="width:80px">A4B</td>
                            <td style="width:100px">I</td>
                            <td>Body Color</td>
                            <td style="width:220px">W/O</td>
                        </tr>
                        <tr>
                            <td style="width:50px"><i class="pi pi-trash"></i></td>
                            <td style="width:80px">A4B</td>
                            <td style="width:100px">I</td>
                            <td>Body Color</td>
                            <td style="width:220px">W/O</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</p-sidebar>