@import '../../../assets/settings/color-palette';
@import '../../../assets/settings/breakpoints';
@import '../../../assets/settings/mediaquery';
@import '../../../assets/settings/buttons';



.table-box{
    // max-width: 1280px;
    width: 100%;
    margin: auto;
    font-size: 12px;
    padding: 0 40px;
    @include mq-breakpoint-xxl{
        padding: 0;
        width: 95%;
        font-size: 13px;
    }
    .items-list{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        align-items: center;
        h4{
            font-size: 18px;
            color:$color-black;
            font-family: "Toyota Type";
            @include mq-breakpoint-xxl{
                font-size: 22px;
            }
        }
        .save-section{
            button{
                font-family: "Toyota Type";
                &.save-btn{
                    background: $color-grey-light;
                    color: $color-white;
                    padding: 0px 40px;
                    display: flex;
                    align-items: center;
                    font-size: 15px;
                    font-weight: normal;
                    height: 30px;
                    @include mq-breakpoint-xxl{
                        height: 40px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    ::ng-deep{
        .p-datatable .p-datatable-thead > tr > th{
            font-size: 14px;
            color: $color-black;
            font-family: "Toyota Type";
            font-weight: 600;
            padding: 1rem 0.5rem;
            @include mq-breakpoint-xxl{
                font-size: 20px;
                padding: 1rem;
            }
            i{
                font-size: 25px;
                color: $color-grey-light;
            }
            .search-content{
                display: flex;
                white-space: nowrap;
                align-items: center;
                .search {
                    width: 100%;
                    position: relative;
                    display: flex;
                    margin-left: 15px;
                    .searchTerm {
                        width: 100%;
                        border: 1px solid $color-grey-light;
                        border-right: none;
                        padding: 2px 3px;
                        height: 30px;
                        border-radius: 0px;
                        outline: none;
                        font-size: 12px;
                    }
                    .searchButton {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 30px;
                        padding: 0;
                        border: 0px solid #9FA0A0;
                        background: #9FA0A0;
                        border-radius: 0;
                        cursor: pointer;
                        .pi-search{
                            color: #fff;
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
        .p-datatable .p-datatable-tbody > tr > td{
            font-size: 14px;
            color: $color-black;
            font-family: "Toyota Type";
            padding: 1rem 1rem;
            @include mq-breakpoint-xxl{
                font-size: 20px;
                padding: 1rem;
            }
            .standard{
                font-weight: 600
                ;
                &-s{
                    color: $color-green;
                }
                &-p{
                    color: $color-blue;
                }
            }
            &:nth-child(4){
                text-transform: uppercase;
            }
            a{
                text-decoration: underline;
                &:hover{
                    text-decoration: none;
                }
            }
            ::ng-deep{
                .p-dropdown,
                .p-multiselect{
                    width: 100%;
                    border: 3px solid $color-yellow;
                    font-size: 0.85rem;
                    .p-dropdown-label{
                        color: $color-black;
                        &.p-placeholder{
                            color: $color-black;
                        }
                    }
                }
                .p-multiselect-item{
                    font-size: 0.85rem;
                    padding: 0.3rem 1rem;
                }
                .p-checkbox{
                    align-items: center;
                    width: 16px;
                    height: 16px;
                    .p-checkbox-box{
                        border: 1px solid $color-secondary;
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}

.my-selection{
    position: fixed;
    background: #9FA0A0;
    width: 43px;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
   
    .selection{
        position: relative;
        .my-selection-btn{
            position: absolute;
            left: 0;
            right: 0;
            -ms-transform: rotate(90deg); /* IE 9 */
                transform: rotate(90deg);
            top:120px;
        }
    }
    ::ng-deep{
        button{
            &.p-button{
                position: relative;
                width: auto;
                height: auto;
                color: #FFFFFF;
                font-size: 20px;
                padding: 10px 30px 10px 20px;
                border-radius: 0;
                display: block;
                background: none;
                border: 0;
                white-space: nowrap;
            }
            span{
                &.txt{
                    white-space: nowrap;
                    padding: 0 10px;
                }
                &.pi{
                    transform: rotate(-90deg);
                    left: 0px;
                    position: absolute;
                }
            }
        }
    }
}
.slide-panel{
    .slide-container{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        .slide-icon{
            width: 25px;
            span{
                &.pi-chevron-right{
                    margin-top: 8px;
                    color: $color-primary;
                }
            }
        }
        .slide-content{
            width: calc(100% - 30px);
            h3{
                font-size: 22px;
                color: $color-secondary;
                font-family: "Toyota Type";
            }
            .fields-section{
                ul{
                    display: flex;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    font-family: "Toyota Type";
                    li{
                        padding-right: 50px;
                        label{
                            display: block;
                            font-size: 12px;
                            font-family: "Toyota Type";
                            color: $color-secondary;
                            &.lf{
                                padding: 0 0 0 10px;
                                color: $color-black;
                            }
                        }

                    }
                }
            }
            .table-grid{
                margin-top: 15px;
                ::ng-deep{
                    .p-datatable .p-datatable-thead > tr > th{
                        font-size: 15px;
                        color: $color-black;
                        font-family: "Toyota Type";
                        font-weight: 600;
                        padding: 1rem 1rem;
                        @include mq-breakpoint-xxl{
                            font-size: 20px;
                            padding: 1rem;
                        }
                        i{
                            font-size: 25px;
                            color: $color-grey-light;
                        }
                    }
                    .p-datatable .p-datatable-tbody > tr > td{
                        font-size: 14px;
                        color: $color-black;
                        font-family: "Toyota Type";
                        padding: 1rem 1rem;
                        @include mq-breakpoint-xxl{
                            font-size: 20px;
                            padding: 1rem;
                        }
                        &:nth-child(4){
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        
    }
    ::ng-deep{
        .p-sidebar{
            &-right{
                width: 50rem !important;
                top: 90px !important;
            }
            &-header{
                position: absolute;
                right: 0;
                z-index: 99;
                + .p-sidebar-content{
                    padding: 1rem;
                }
            }
        }

        .p-sidebar .p-sidebar-header 
        .p-sidebar-mask.p-component-overlay{
            background: none;
        }  
    }
}