@import '../../assets/settings/color-palette';
@import '../../assets/settings/breakpoints';
@import '../../assets/settings/mediaquery';
@import '../../assets/settings/mixins';



button{
    cursor: pointer;
    font-family: 'Montserrat', Roboto, "Helvetica Neue", sans-serif;
    color: $color-white;
    padding: 6px 15px;
    font-weight: 600;
    font-size: 12px;
    border:0;
    border-radius: 0px;
   
    &.primary{
        @include primary;
        text-transform: uppercase;
    }
    &.secondary{
        @include secondary;
        text-transform: uppercase;
    }
   
   
}

