$color-white: #FFFFFF;
$color-primary: #D7181E;
$color-secondary: #58595B;
$color-grey: #cccccc;
$color-black: #000000;
$color-yellow: #FEBA12;
$color-green: #289D05;
$color-blue: #002F6C;
$color-grey-light: #9FA0A0;