@import '../../assets/settings/color-palette.scss';
@import '../../assets/settings/breakpoints';
@import '../../assets/settings/mediaquery';
@import '../../assets/settings/mixins';
@import '../../assets/settings/buttons';

h1{
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    text-transform: uppercase;
}
h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}
h6{
    margin: 0;
    padding: 0 0 5px 0;
    font-weight: 600;
}
p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
ul{
    font-size: 18px;
    padding: 0;
    margin: 0;
    list-style: none;
}