.container-content{
  overflow: hidden;
  position: relative;
}
.img{
  align-items: right;
  position: relative;
  height:10%;
  width:10%;
}
.container-content h5{
 margin:10px;
}
.container{
   margin-top:80px;
}
.card{
  text-align: center;
  margin:10px;
  height:200px;
  box-shadow:
  0 7px 30px -10px rgba(150,170,180,0.5);
}

.card-title{
  align-items: center;
  margin-top: 15%;
}

.card-footer{
  background: grey;
}
/*  */

.highlight {
  background-color: yellow;
}

select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  background-color: #A9A9A9;
  background-image: none;
  cursor: pointer;
  color: #fff;
  font-weight: 300;
  display: inline-block;
  width: 90px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

select option{
  background-color: #fff;
  color: #A9A9A9;
}

select option[value="select"] {
  display: none;
}

.select {
  position: relative;
  display: flex;
  height: 2em;
  overflow: hidden;
  width: 100%;
  font-size: 10px;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  /* padding: -3px; */
  margin: 0 auto;
  padding-right: 8px;
  padding-top: 3px;
  transition: .25s all ease;
  pointer-events: none;
  color: #fff;
}

